@media (max-width:800px) {
    li{
        font-size: 1.5em;
    }
    .hideOnModile{
        display: none;
    }

    .menu-button{
        display: block;
    }
    .welcome-text{
        text-align:left ;
    }
    .wholcar{
        text-align: right;
        position: absolute;
    }
    .sliders{
        margin-top: 50px !important;
    }
    .top-heading{
        font-size: 30px;
    }
    .introduction-text{
        margin-top: -30px;
    }
    .welcome-to{
        font-size: 15vw;
    }
    .bakul{
        font-size: 6vw;
    }
    .buy{
        font-size: 3vw;
    }
    .runigCar{
        margin-top: 20px;
        transform: scaleX(-1) !important;
    	animation: runningCar 3s linear 1 ;     
    }
    @keyframes runningCar{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.home-trainding{
    margin-top:0;
}
.trainding-heding{
    margin-bottom: 10px;
}
.Woner-img-box{
    height: 15rem;
    width: 15rem;
}
.brand_header h1{
    font-size: 1rem;
}
.home-down-arow{
    font-size:20px;
    bottom: -50px;
    padding: 10px;
}
.car_body_one p{
    font-size: 10px;
}
.feature_car_offer h3 {
	height: 100px;
	width: 100px;
    margin: 20px 20px 0 0;
}
.feature-btn{
    font-weight: normal;
    font-size: small;
    padding:10px 50px;
}
}

@media(max-width:400px){
    a{
        font-size: 1rem !important;
    }
    .Woner-img-box{
        height: 15rem;
        width: 15rem;
    }
    .sidebar{
        width: 100%;
    }
    .wholslider{
        border-radius: 0px;
    }
    .carandtext{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;

    }
    .welcome-text{
       margin: 0;
    }
    .wholcar{
        text-align: right;
        position: absolute;
        top: 20px;
    }
    .top-heading{
        font-size: 20px;
    }
    .about-section-title h2{
        font-size: 25px;
    }
    .about-text-box p{
        font-size: 1rem;
    }
    .brand_header h1{
    font-size: .8rem;
    }
    
}