@media (max-width:800px) {
    li{
        font-size: 1.5em;
    }
    .hideOnModile{
        display: none;
    }

    .menu-button{
        display: block;
    }
    
    .carandtext{
        position: relative;
    }
    .welcome-text{
        text-align:left ;
    }
    .wholcar{
        text-align: right;
        position: absolute;
    }
    .sliders{
        margin-top: 50px !important;
    }
    .top-heading{
        font-size: 30px;
    }

}

@media(max-width:400px){
    a{
        font-size: 1rem !important;
    }
    .sidebar{
        width: 100%;
    }
     .wholslider{
        border-radius: 0px;
    }
    .carandtext{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;

    }
    .welcome-text{
       margin: 0;
    }
    .wholcar{
        text-align: right;
        position: absolute;
        top: 20px;
    }
    .top-heading{
        font-size: 20px;
    }

}