@media (max-width:800px) {
    .hideOnModile{
        display: none;
    }

    .menu-button{
        display: block;
    }
    
    span{
        width: fit-content;
    }
   
}

@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
     .wholslider{
        border-radius: 0px;
    }
    .slider-image{
        border-radius: 0px;
    }
}