@import url('https://fonts.googleapis.com/css2?family=Pacifico&display&family=Oleo+Script&family=Sriracha&family=Sriracha&display=swap');
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	 margin: 0;
     padding: 0;
     background: url(../Image/w.jpg) no-repeat;
     background-size: cover;
     background-repeat: no-repeat;
     background-position:center center;
     background-attachment:fixed; 
	 position: relative;
	 min-height: 100%;
	 overflow-x: hidden;
}

html{
	height: 100%;
	text-decoration: none;
	font-size: 10px;
}

section{
	padding: 10rem 0;
	color: #fff;
}

a{
	cursor: pointer;
}

/* **************** START HOME  *************** 
***************---------------------*********** */

/* <!-- // ********* START LODER ********* // --> */

.loader {
	position: fixed;
	left: 0;
	top: 0;
	background: white;
	width: 100%;
	height: 100vh;
	font-family: 'Oleo Script', cursive;
	animation: backgroundChange 5s linear 10s forwards;
	color: #45cdfd;
	z-index:999;
  }
  
  @keyframes backgroundChange {
	from {background-color: white}
	to {background-color:transparent}
  }

  .load-text {
	left: 52%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 6vmax;
	width: fit-content;
	display: flex;
	animation: colorChange .3s linear 3s forwards;
  }

   @keyframes colorChange {
	from {color: #45cdfd}
	to {color:transparent}
  }

   .loaded-text {
	transform: scale(1.5);
	animation: scaleText .15s linear .5s forwards;
  }

  @keyframes scaleText {
	from {transform: scale(1.5)}
	to {transform: scale(1)}
  }

  .loading-text {
	width: 0;
	overflow: hidden;
	animation: expand 1.5s linear 1.5s forwards;
	white-space: nowrap;
  }
 
  @keyframes expand {
	from {width: 0;}
	to {width: 50vmax;}
  }
  

  /* <!-- // ********* CLOSE LODER ********* // --> */

  /* <!-- // ********* START NAVBAR ********* // --> */
  
nav{
	background-color:#8fe0fe;
	height: 50px;
	width: 70%;
	margin-top: 1vw;
	border-radius: 50px;
	box-shadow: 0 0 40px 8px #4d4d4d63;
	position: sticky;
	top: 0;
	z-index: 998;
	position: relative;
}

nav ul{
	text-align: right;
}
nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
    padding: 5px;
	cursor: pointer;
	
}
nav ul li a{
	color:#000;
	font-size: 1.5rem;
	padding: 8px 15px;
	border-radius: 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;

}
nav ul li a:hover{
	color: #fff;
	transform: .5s;
}
#active{
	background:#fff;
}
#active:hover{
	color: #8fe0fe;
}
.nav-list-logo-inner{
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-50%,-50%);
	width: 0 ;
	
}

.nav-logo-image{
	height:	80px;
	width: 80px;
	border-radius: 50%;
}

.sidebar{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	backdrop-filter: blur(5px);
	display: none;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 250px;
	text-align: center;
	background-color: #8fe0fe5d;
	
}

.sidebar >li,a {
	width: 100%;
}

.menu-button{
	display: none;
	
}

  /* <!-- // ********* START NAVBAR ********* // --> */

  /* <!-- // ********* START CAR ANIMATION ********* // --> */

.runigCar{
	width: 40vw;
	animation: runningCar 3s linear 1 ;
	z-index:1 ;
}

@keyframes runningCar{
	0%{
		transform: translate(-50%,-20%);
	}
	100%{
		transform: translate(0%,0%);
	}
}

  /* <!-- // ********* CLOSE CAR ANIMATION ********* // --> */

.welcome-text{
	line-height: 1.5;
}

.welcome-to{
	font-size: 5vw;
	font-family: 'Oleo Script', cursive;
	animation: welcomeTo 4s linear 1;
}
@keyframes welcomeTo {
	0% {
	  opacity: 0;
	  transform: translateY(-10%);
	}
	
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
  }
  
  .bakul{
	font-size: 2vw;
	font-family: 'Oleo Script', cursive;
	color: #1b1b1b;
	animation: bakul 3s linear 1 ;
}

@keyframes bakul {
	0% {
	  opacity: 0;
	  transform: translateY(-10%);
	}
	
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
  }
  
.buy{
	font-size: 1vw;
	font-weight: bold;
	color: #1b1b1b;
	font-style: italic;
	animation: buy 3s linear 1 ;
}

@keyframes buy {
	0% {
	  opacity: 0;
	}
	
	100% {
	  opacity: 1;
	}
  }

/* <!-- // ********* START SHOP NOW BUTTON ********* // --> */

.shop_now{
	color: #33c7fc;
	font-size: 1vw;	
	padding: 1vw 3vw;
	border: none;
	border-radius: 50px;
	margin-top: 2vw;
	background-color: transparent;
	font-family: 'Oleo Script', cursive;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: absolute;
	animation: shop-now 4s linear 1 ;
}

  @keyframes shop-now {
	0% {
		opacity: 0;
	  	transform: translateY(0);
	}
	50%{
		opacity: .5;
		transform: translateY(-25%);
	}
	100% {
	  opacity: 1;
	  
	}
  }

/* <!-- // ********* CLOSE SHOP NOW BUTTON ********* // --> */

/* <!-- // ********* START SLIDE ********* // --> */
	.sliders{
		animation: runningslider 2.5s linear 1 ;	
	}

	@keyframes runningslider{
	0%{
		opacity: 0;
		transform: translateY(20%);
	}
	100%{
		opacity: 1	;
		transform: translateY(0%);
	}
}


/* **************** CLOSE HOME  *************** 
***************---------------------*********** */

/* **************** START SHOP  *************** 
***************---------------------*********** */


/* **************** CLOSE SHOP  *************** 
***************---------------------*********** */
#login{
	position: relative;
	right: 50px;
}

.tofggle-btn:hover{
	box-shadow: 0 0 40px 8px #06e3ff;
}

.form-main{ 
	margin-top: 5%;
	margin-left:60%;
	height: 600px;
	width: 400px;
    background-color: #51d4ff42;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    animation: from 2s linear ;

}

@keyframes from{
	0%{
		transform: translate(100%,0%);
	}
	
}

.form-main:hover{
	box-shadow: 0px 0px 10px #06e3ff;

}
.form-main form label{
      color:#000;
      margin-left: 5px;
      font-size: 20px;
}
.from-main form input ::placeholder{
	color: #000;
	 font-size: 15px;

}
.form-main form input {
	outline:none;
	padding:10px 25px;
	border-radius: 15px;
	border: none;
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 2px solid #fff;
	box-shadow: 0px 0px 10px black;


}

.form-main form input:hover{
	box-shadow: 0px 0px 10px #06e3ff;

}
.form-main form input placeholder{
	color: #fff;

}
.sub{
	outline:none;
	padding: 10px 15px;
	border-radius: 20px; 
	display: block;
	cursor:pointer;
	border: none;
	color: #000;
	margin-left: 60px;
	margin-top: 80px;
    font-size: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px black;  

}
.sub:hover{
	box-shadow: 0px 0px 10px #06e3ff;

}

  
.checkbtn{
	font-size: 30px;
	color: #000;
	float: right;
	line-height: 40px;
	margin-right: 40px;
	cursor: pointer;
	display: none;

}
#check {
	display: none;
	float: right;
	line-height: 40px;
	margin-right: 40px;
}



.name{
	text-align: center;
	position: relative;
	top:15px;
	color: #000;
	font-size: 3rem;
}

.heading{
	top:40px;
	text-transform: uppercase;
	font-size: 5rem;
	letter-spacing: 3px;
	margin-right: -3px;
	text-align: center;
	color: #333;
	position: relative;
}
.heading::before {
    content: "";
    width: 13rem;
    height: 0.8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 46.5%;
    border-radius: 2rem;
} 
.card-warpper{
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}
.about-card{
	top:10px;
	width: 32rem;
	height: 50rem;
	border-radius: 10%;
	background-color: #ebeef8;
	box-shadow: 0px 0px 10px black;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	box-shadow: .5rem .5rem 3rem rgba(0,0,0,0,2);
}
.about-card:hover{
	box-shadow: 0px 0px 10px #06e3ff;
	transition: top .2s;

}

.card-img{
	border-radius: 10%;
}
.about-card .card-img{
	width: 100%;
	height: 26rem;
	object-fit: cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
	clip-path: polygon(0 0,100% 0, 100% 78%,0% 100%);
}
.profile-img{
	position: relative;
	top:10px;
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -10rem;
	margin-left: 30%;
	margin-top:-11rem; 
	border: 1rem solid #c0eeff;

}
.profile-img:hover{
	box-shadow: 0px 0px 10px #06e3ff;
	transition: top .2s;
}
.about-card h1{
	font-size: 2.5rem;
	color: #333;
	margin: 1.5rem 0;
}
.job-title{
	position:relative;
	top:30px;
	text-align: center;
	color: #63c8ff;
	font-size: 2.5rem;
	font-weight:300; 
}
.contact{
  outline:none;
  color: #000000;
  border: 1px solid #3498db;
  background: #b1bdc1;
  padding: 10px 20px;
  font-size: 1.8rem;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  top :40px;
  box-shadow: 0px 0px 10px #06e3ff;
}
.contact:hover{
	transition: top .2s;
	}
.contact1{
  color: #3498db;
}
.contact:hover{
  color: #fff;
}
.contact::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.contact1::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.contact1:hover::before{
  height: 180%;
}

/* footer part start */

.mainBg{
	background-color: #324A5E;
	color: white;
}
h1.Footer_head {
    margin-top: 20px;
    margin-bottom: 20px;
	text-align: center;
}
.footer_first p{
	font-size: 16px;
	line-height: 1.9;
    word-spacing: 4px;
}
.footer_first p a{
	text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
}
.footer_first p a:hover{
	color: #0400ff;
}
.footerFaq li a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	margin-left: 8px;
	font-weight: bold;
	line-height: 2.5;
	
}
.footerFaq li a:hover{
	color: #06e3ff;
}

.FooterInformation p{
	font-size: 15px;
}

.FooterInformation p a{
	text-decoration: none;
	color: #ffffff;
}


.footer_icon{
	fill: #ffffff ;
	margin-left: 5px;
}
img.payment_pic {
    width: 200px;
	margin-top: 10px;
	margin-bottom: 40px;
}

.copyrightPart{
	text-align: center;
	margin-top: 10px;
	color: #ffffff;
}

.copyright_bg{
	background-color: #34536D;
}
.copyrightIcon{
	fill: #ffffff;
}

.copyrightIcon:hover{
	fill: #06e3ff;
}
.footerIconList{
	justify-content: space-around;
	margin-top: 5px;
}

/* footer part end */

/* shop page category part start */

.CategoryName{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-top: 10px;
	text-transform: uppercase;
}

.category_image{
    height: 100px;
    width: 100px;
    border: 3px solid aqua;
    border-radius: 50%;
    margin-top: 10px;
}

.traindHead h1{
	font-size: 30px;
	font-weight: bold;
	margin-top: 15px;
}
.ui_card{
	width: 300px;
	align-items: center;
	justify-content: center;
	display: flex;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}

.card_image{
	max-width: 100%;
	display: block;
}
.ui_card img{
	transform: scale(1.3);
	transition: all 0.3s ease-out; 
}
.ui_card:hover img{
	transform: scale(1.1) translate(-20px);
	opacity: 0.3;
}
.description{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
}
.description h3{
	font-weight: 700;
	font-size: 32px;
	margin: 0 0 20px;
}
.description a{
	color: #ffffff;
	background: #34aff3;
	display: inline-block;
	padding: 10px 25px;
	text-decoration: none;
	

}

/* shop page category part end */

