@import url('https://fonts.googleapis.com/css2?family=Pacifico&display&family=Oleo+Script&family=Sriracha&family=Sriracha&display=swap');
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	 margin: 0;
     padding: 0;
	 overflow-x: hidden;
} 

html{
	height: 100%;
	text-decoration: none;
 
    
}
section{
    margin-top: 10px;
    margin-bottom: 10px;
}


a{
	cursor: pointer;
}

:root{
	--Primary-color:#29BEF5;
	--Secondary-color:#45e19f;
	--white-color:#fff;
	--black-color:#000;
	--nav-color:linear-gradient(176deg, rgba(0,215,250,1) 0%, rgba(95,156,236,1) 97%);
}
/* **************  START GLOBAL CSS  ***************** 
   **************----------------------*************** */
.top-heading{
	position:relative;
	top:40px;
    opacity: 0.50;
    line-height: 1;
    font-size: 50px;
    font-weight: 700;
    color: transparent;
	text-align: center;
	text-transform: uppercase;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color:var(--Primary-color);
}

.top-heading::after {
    content: "";
    width: 13rem;
    height: 0.8rem;
    border: 2px solid var(--Secondary-color);
    position: absolute;
	display: block;
    top: 100%;
	left: 50%;
	transform: translate(-50%,-50%);
    border-radius: 2rem;
} 

.global-btn {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
	padding: .8vw 3vw;
    background-color: #065654;
    border-radius: 50px;
    position: relative;
    transition: 1s;
    z-index: 2;
    border: none;
}

.global-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:var(--nav-color);
    border-radius: 50px;
    transform-origin: left;
    transition: transform 1s ease;
    transform: scale(1);
    z-index:-1 ;
}
.global-btn:hover::before {
    transform-origin: right;
    transition: transform 1s ease;
    transform: scale(0);
}
.global-btn:hover {
	background:#000;
}
/* **************** START GLOBAL CSS  *************** 
***************---------------------*********** */

/* **************** START HOME  *************** 
***************---------------------*********** */

/* <!-- // ********* START LODER ********* // --> */

.loader {
	position: fixed;
	left: 0;
	top: 0;
	background: white;
	width: 100%;
	height: 100vh;
	font-family: 'Oleo Script', cursive;
	animation: backgroundChange 10s linear 10s forwards;
	color: #45cdfd;
	z-index:999;
  }
  
  @keyframes backgroundChange {
	from {background-color: rgba(255, 255, 255, 0.863)}
	to {background-color:transparent}
  }

  .load-text {
	left: 52%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 6vmax;
	width: fit-content;
	display: flex;
	animation: colorChange .3s linear 3s forwards;
  }

   @keyframes colorChange {
	from {color: #45cdfd}
	to {color:transparent}
  }

   .loaded-text {
	transform: scale(1.5);
	animation: scaleText .15s linear .5s forwards;
  }

  @keyframes scaleText {
	from {transform: scale(1.5)}
	to {transform: scale(1)}
  }

  .loading-text {
	width: 0;
	overflow: hidden;
	animation: expand 1.5s linear 1.5s forwards;
	white-space: nowrap;
  }
 
  @keyframes expand {
	from {width: 0;}
	to {width: 50vmax;}
  }
  

  /* <!-- // ********* CLOSE LODER ********* // --> */

  /* <!-- // ********* START NAVBAR ********* // --> */
  
nav{
	background: var(--nav-color);
	height: 50px;
	width: 70%;
	margin-top: 3vh;
	border-radius: 50px;
	box-shadow: 0 0 40px 8px #4d4d4d63;
	position: sticky;
	top:0;
	z-index: 999;
}
nav ul{
	text-align: right;
}
nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
    padding: 5px;
	cursor: pointer;
	
}
nav ul li a{
	color:var(--white-color);
	font-size: 1.5rem;
	padding: 8px 15px;
	border-radius: 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;

}
nav ul li a:hover{
	color: var(--black-color);
	transform: .5s;
}
#active{
	background:var(--black-color);
}

#active:hover{
	color: var(--white-color) !important;
}
.nav-list-logo-inner{
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-50%,-50%);
	width: 0 ;
	
}

.nav-logo-image{
	height:	80px;
	width: 80px;
	border-radius: 50%;
}

.nav_icon {
    fill: #000000;
    margin-bottom: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;

}

.sidebar{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	backdrop-filter: blur(5px);
	display: none;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 250px;
	text-align: center;
	background-color: #8fe0fe5d;
	
}

.sidebar >li,a {
	width: 100%;
}

.menu-button{
	display: none;
	float: inline-end;
	
}

  /* <!-- // ********* START NAVBAR ********* // --> */

  /* <!-- // ********* START CAR ANIMATION ********* // --> */

.runigCar{
	width: 40vw;
	animation: runningCar 3s linear 1 ;
	z-index:1 ;
}

@keyframes runningCar{
	0%{
		transform: translate(-50%,-20%);
	}
	100%{
		transform: translate(0%,0%);
	}
}

  /* <!-- // ********* CLOSE CAR ANIMATION ********* // --> */

.welcome-text{
	line-height: 1.5;
}

.welcome-to{
	font-size: 5vw;
	font-family: 'Oleo Script', cursive;
	animation: welcomeTo 4s linear 1;
	
}
@keyframes welcomeTo {
	0% {
	  opacity: 0;
	  transform: translateY(-10%);
	}
	
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
  }
  
  .bakul{
	font-size: 2vw;
	font-family: 'Oleo Script', cursive;
	color: #1b1b1b;
	animation: bakul 3s linear 1 ;
}

@keyframes bakul {
	0% {
	  opacity: 0;
	  transform: translateY(-10%);
	}
	
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
  }
  
.buy{
	font-size: 1vw;
	font-weight: bold;
	color: #1b1b1b;
	font-style: italic;
	animation: buy 3s linear 1 ;
}

@keyframes buy {
	0% {
	  opacity: 0;
	}
	
	100% {
	  opacity: 1;
	}
  }

/* <!-- // ********* START Home SHOP NOW BUTTON ********* // --> */

.home-btn{
	font-size: 1vw;	
	border: none;
	border-radius: 50px;
	margin-top: 2vw;
	background-color: transparent;
	position: absolute;
	animation: shop-now 3s linear 1 ;
}

  @keyframes shop-now {
	0% {
		opacity: 0;
	  	transform: translateY(0);
	}
	50%{
		opacity: .5;
		transform: translateY(-25%);
	}
	100% {
	  opacity: 1;
	  
	}
  }

/* <!-- // ********* CLOSE Home SHOP NOW BUTTON ********* // --> */

/* <!-- // ********* Start Tending car ********* // --> */
.home-categories{
	margin-top: -100px;
	margin-bottom: 50px;
	animation: bakul 5s linear 1 ;
}

.trainding-carousel{
	animation: tendingCar 3s linear 1 ;
}

@keyframes tendingCar{
	0% {
	  opacity: 0;
	  transform: translateY(10%);
	}
	
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
}

.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-carousel .my-card{
  height: 30rem;
  width: 45rem;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: 1s;
}

.my-card img{
	height: 100%;
}
.card-carousel .my-card:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100%;
  bottom: -5rem;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.card-carousel .my-card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
}



/* <!-- // ********* Close Tending car ********* // --> */

/* **************** CLOSE HOME  *************** 
***************---------------------*********** */

 /* start about css */

 .about_header{
    color: #454545;
    font-weight: bold;
 }

 /* end about css */

/* start featured css */
.feature_header h1{
    color: #454545;
    text-align: center;
    font-size: 35px;
}
.feature_title{
    color: #454545;
}
.title_price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.featured_btn{
    margin-left: 18px;
}
/* end featured css */

/* start contact part  */

.contact_header{
	margin-top: 6rem;
	font-size: 40px;
	font-weight: bold;
}
.whol-contact-from{
    height: auto;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(186,252,243,1) 23%, rgba(0,255,222,0.7959558823529411) 96%);
	
}
input.contact_input {
	font-size: 20px;
}
textarea.contact_input {
	font-size: 20px;
}
.contact-from input:focus,
.contact-from textarea:focus{
    color: #ffffff;
    border: 0;
    border-bottom: 2px solid #065951;
    box-shadow: none;
}
.contact-from::placeholder {
    color: red;
  }

.contact-from ::placeholder{
   color: var(--white-color) !important;
}

.contact-from span {
    color: #ff904b;
    font-size: 20px;
    width: 100%;
}
.contact-from textarea{
    background: transparent;
    border: 1px solid #0089ff;
}

.contact-icon-box{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #0089ff;
}

.contact-icon{
    color:#0089ff;
    font-size: 30px;
    border-radius: 50%;
    padding: 15px;
}
.contact-icon-box span {
    color: #0089ff;
    font-size: 18px;
    font-weight: bold;
}
.contact-icon-box p {
    color: #000;
    font-size: 13px;
    font-weight: 700;
}
.contact-dots{
    top: 20%;
}
.contact_button{
    float: left;
}
.contact_button button{
 height: 50px;
 width: 100px;
 background-color: #0089ff;
 border-radius: 10%;
 border: none;
 color: white;
 font-size: 15px;
 font-weight: bold;
}
/* close contact part */

/* **************** START FOOTER  *************** 
***************---------------------*********** */

.mainBg{
	background-color: #324A5E;
	color: white;
	margin-top: 7rem;
}
h1.Footer_head {
    margin-top: 20px;
    margin-bottom: 20px;
	text-align: center;
}
.footer_first p{
	font-size: 16px;
	line-height: 1.9;
    word-spacing: 4px;
}
.footer_first p a{
	text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
}
.footer_first p a:hover{
	color: #0400ff;
}
.footerFaq li a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	margin-left: 8px;
	font-weight: bold;
	line-height: 2.5;
	
}
.footerFaq li a:hover{
	color: #06e3ff;
}

.FooterInformation p{
	font-size: 15px;
}

.FooterInformation p a{
	text-decoration: none;
	color: #ffffff;
}


.footer_icon{
	fill: #ffffff ;
	margin-left: 5px;
}
img.payment_pic {
    width: 200px;
	margin-top: 10px;
	margin-bottom: 40px;
}

.copyrightPart{
	text-align: center;
	margin-top: 10px;
	color: #ffffff;
}

.copyright_bg{
	background-color: #34536D;
}
.copyrightIcon{
	fill: #ffffff;
}

.copyrightIcon:hover{
	fill: #06e3ff;
}
.footerIconList{
	justify-content: space-around;
	margin-top: 5px;
}

/* ****************  FOOTER  *************** 
***************---------------------*********** */
